<div class="app-content container center-layout mt-2" style="padding-top:10vh">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-3 p-0">
                    <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
                        <div class="card-header no-border">
                            <div class="card-title text-xs-center">
                                <img src="http://localhost:8000/public/uploads/logo_team_will.png" style="width: 8vw;"
                                    alt="branding logo">
                            </div>
                            <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2"><span>Connectez-vous</span></h6>
                        </div>
                        <div class="card-body collapse in">
                            <div class="card-block" style="padding-top:0">
                                <h4 *ngIf="error" style="color:red">{{error}}</h4>
                                <form class="form-horizontal" action="index.html" (ngSubmit)="submit()" novalidate>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="text" name="email" class="form-control" [(ngModel)]="email"
                                            placeholder="Adresse email" />
                                        <div class="form-control-position">
                                            <i class="icon-mail6"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="password" name="password" class="form-control" [(ngModel)]="password"
                                            placeholder="Mot de passe" />
                                        <div class="form-control-position">
                                            <i class="icon-key3"></i>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-outline-primary btn-block"><i class="icon-unlock2"></i>
                                        Login</button>
                                </form>
                            </div>
                            <p class="card-subtitle line-on-side text-muted text-xs-center font-small-3 mx-2 my-1"><span>New
                                    to TeamWill ?</span></p>
                            <div class="card-block">
                                <button (click)="register()" class="btn btn-outline-primary btn-block"><i class="icon-head"></i>
                                    Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>