<div class="container" style="padding-top:10vh">
  <div class="row">
    <div class="content-header">
      <div class="breadcrumb-wrapper col-xs-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a style="color:rgb(49, 51, 158)" (click)="gotoHome()">Acceuil</a>
          </li>
          <li class="breadcrumb-item"><a style="color:rgb(49, 51, 158)" (click)="gotoAdmin()">Admin</a>
          </li>
          <li class="breadcrumb-item active">FAQ
          </li>
        </ol>
      </div>
      <div class="content-header-left col-md-6 col-xs-12">
        <h3 class="content-header-title mb-0">Foire aux questions</h3>
      </div>
      <div class="content-header-right col-md-6 col-xs-12">
        <div class="float-md-right">
            <button class="btn btn-primary text-right" (click)="openAddModal()"><i class="fas fa-plus"></i> Ajouter une
              question/réponse</button>
        </div>
      </div>
      <div class="content-header-lead col-xs-12 mt-1">
        <p class="lead">Buttons include support for a handful of contextual variations, sizes, states, and more. Group
          a series of buttons together on a single line with the button group.</p>
      </div>
    </div>
    <div class="col-md-4 offset-md-8 col-xs-12">
      <fieldset class="form-group position-relative has-icon-left">
          <input type="text" class="form-control round" id="myInput" placeholder="Rechercher">
          <div class="form-control-position">
              <i class="fas fa-search"></i>
          </div>
      </fieldset>
    </div>
    <div class="col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <ul class="list-group list">
              <li *ngFor="let qr of qrs" class="list-group-item elSujet">
                <h3 class="name">{{qr.question}}</h3>
                <p class="born">{{qr.answer}}</p>
                <button class="btn btn-danger btn-sm" (click)="openDelModal(qr.qrs_id)"><i class="fas fa-times"></i></button>
                <button class="btn btn-primary btn-sm" (click)="openPutModal(qr.qrs_id,qr.question,qr.answer)"><i class="fas fa-edit"></i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #delModal identifier="delModal">
  <h4>Voulez-vous vraiment supprimer cette question ?</h4>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="delModal.close()"><i class="fas fa-long-arrow-alt-left"></i>
    Annuler</button>
  <button class="btn btn-danger" (click)="delFaq(delModal.getData())"><i class="fas fa-check"></i> Supprimer</button>
</ngx-smart-modal>

<ngx-smart-modal [closable]="false" #putModal identifier="putModal">
  <h4 *ngIf="putModal.hasData()">Modifier la question</h4>
  <input #input1 *ngIf="putModal.hasData()" (keyup)="putModal.getData().question=input1.value" type="text" class="form-control"
    value="{{putModal.getData().question}}">
  <h4 *ngIf="putModal.hasData()">Modifier la réponse</h4>
  <textarea #input2 *ngIf="putModal.hasData()" (keyup)="putModal.getData().answer=input2.value" type="text" class="form-control"
    value="{{putModal.getData().answer}}">{{putModal.getData().answer}}</textarea>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="putModal.close();putModal.getData().question='';putModal.getData().answer=''"><i
      class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button class="btn btn-primary" (click)="putFaq(putModal.getData().id,putModal.getData().question,putModal.getData().answer);putModal.getData().question='';putModal.getData().answer=''"><i
      class="fas fa-check"></i> Modifier</button>
</ngx-smart-modal>

<ngx-smart-modal [closable]="false" #addModal identifier="addModal">
  <h4>Thème</h4>
  <select #selectTheme>
    <option *ngFor="let theme of themes" value="{{theme.id}}">{{theme.theme_name}}</option>
  </select>
  <h4>Question</h4>
  <input #inputQ type="text" class="form-control" placeholder="Votre question">
  <h4>Réponse</h4>
  <textarea #inputR type="text" class="form-control" placeholder="Votre réponse détaillée"></textarea>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="addModal.close()"><i class="fas fa-long-arrow-alt-left"></i>
    Annuler</button>
  <button class="btn btn-primary" (click)="addFaq(selectTheme.value,inputQ.value,inputR.value);"><i class="fas fa-check"></i>
    Ajouter</button>
</ngx-smart-modal>