<div>
  <input class="rounded form-control" type="text" id="myInput">
</div>

<ngb-accordion [closeOthers]="true">
    <ngb-panel *ngFor="let qr of qrs" id="static-{{qr.qrs_id}}" title="{{qr.question}}" class="elSujet">
        <ng-template ngbPanelContent>
          {{qr.answer}}
        </ng-template>
    </ngb-panel>
</ngb-accordion>


<div class="row">
    <div class="col-md-3 offset-md-9" style="text-align:center">
      <button class="btn btn-primary text-right" (click)="openAddModal()"><i class="fas fa-plus"></i> Ajouter un sujet de discussion</button>
    </div>
  </div>


<div class="elSujet" *ngFor="let sujet of sujets" [attr.id]="sujet.id">
    <a (click)="gotoInputs(sujet.id)" ><span *ngIf="sujet.resolu == 1">[Résolu]</span> {{sujet.sujet_name}}</a>
    <hr>
</div>
<ngx-smart-modal [closable]="false" #addModal identifier="addModal">
    <h4>Thème</h4>
    <select *ngIf="addModal.hasData()" #selectTheme [value]='addModal.getData().theme_id'(click)="addModal.getData().theme_id=selectTheme.value">
        <option *ngFor="let theme of themes" value="{{theme.id}}">{{theme.theme_name}}</option>
    </select>
    <h4>Titre du sujet</h4>
    <input #inputQ id="testest" type="text" class="form-control"  placeholder="Votre question">
    <button style="margin:10px 10px;" class="btn btn-secondary" (click)="addModal.close()"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
    <button class="btn btn-primary" (click)="addSujet(addModal.getData().theme_id,inputQ.value);"><i class="fas fa-check"></i> Ajouter</button>
</ngx-smart-modal>
