<div class="com" *ngFor="let comment of comments" [attr.id]="comment.id">
  <p style="font-size: 10px">Envoyé le {{ comment.date | date:'short' }}  {{comment.username}} {{comment.id}}</p>
  <p>{{comment.message}}</p>
  <button *ngIf="isAdmin == 1 || sender == comment.sender_id" class="btn btn-danger btn-sm"  (click)="openDelModal(comment.id)"><i class="fas fa-times"></i></button>
  <button *ngIf="sender == comment.sender_id" class="btn btn-primary btn-sm"  (click)="openPutModal(comment.id,comment.message)"><i class="fas fa-edit"></i></button>
  <hr>
 
</div>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #delModal identifier="delModal">
  <h4>Voulez-vous vraiment supprimer ce commentaire ?</h4>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="delModal.close()">Annuler</button>
  <button class="btn btn-danger" (click)="delComment(delModal.getData())">Supprimer</button>
</ngx-smart-modal>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #putModal identifier="putModal" >
  <h4  *ngIf="putModal.hasData()">Modifier ce commentaire</h4>
  <input #input *ngIf="putModal.hasData()" (keyup)="putModal.getData().message=input.value" type="text" class="form-control" value="{{putModal.getData().message}}">
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="putModal.close()">Annuler</button>
  <button class="btn btn-primary" (click)="putComment(putModal.getData().id,putModal.getData().message);putModal.getData().message=''">Modifier</button>
</ngx-smart-modal>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #clearModal identifier="clearModal" >
  <h4>Voulez-vous vraiment fermer ce sujet ?</h4>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="clearModal.close()">Annuler</button>
  <button class="btn btn-success" (click)="clearSujet()">Valider</button>
</ngx-smart-modal>

<div *ngIf=" sujet.length>0 ">
<div *ngIf="_authService.loggedIn == true && sujet[0].resolu == 0 " class="input-group">
  <input  #newComment
          (keyup.enter)="addComment(newComment.value); newComment.value=''"
          type="text" class="form-control" 
          placeholder="Your comment" 
          aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-success" type="button" id="button-addon2" (click)="addComment(newComment.value); newComment.value=''">Ajouter</button>
  </div>
</div>
<br>
<button class="btn btn-success" *ngIf="sujet[0].resolu == 0 && sujet[0].creator == userID" (click)="clearModal.open()">Fermer ce sujet</button>
</div>