<app-com-area [comments]="test" (newcomments)=""></app-com-area>
<div class="input-group fixed-bottom">
    <input  #newComment
            (keyup.enter)="addComment(newComment.value); newComment.value=''"
            type="text" class="form-control" 
            placeholder="Your comment" 
            aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-success" type="button" id="button-addon2" (click)="addComment(newComment.value); newComment.value=''">Ajouter</button>
    </div>
  </div>
