<div class="row">
  <div class="col-md-3 offset-md-9" style="text-align:center">
    <button class="btn btn-primary text-right" (click)="openAddModal()"><i class="fas fa-plus"></i> Ajouter un thème</button>
  </div>
</div>

<div *ngFor="let sujet of sujets" id="static-{{sujet.id}}" class="elSujet">
  <div class="row">
    <div class="col-md-10" [ngStyle]="{'background-color':sujet.hidden == 0 ? '#99ff99' : '#ff8080' }">
      <p>
        {{sujet.sujet_name}}
      </p>
    </div>
    <div class="col-md-2">
        <button title="Modifier ce sujet" class="btn btn-primary btn-sm" (click)="openPutModal(sujet.id,sujet.theme_id,sujet.sujet_name)"><i class="fas fa-edit"></i></button>
        <button *ngIf="sujet.hidden == 0" title="Cacher le sujet aux utilisateurs" class="btn btn-warning btn-sm" (click)="openHideModal(sujet.id)"><i class="far fa-eye-slash"></i></button>
        <button *ngIf="sujet.hidden == 1" title="Autoriser les utilisateurs à voir ce sujet" class="btn btn-success btn-sm" (click)="openShowModal(sujet.id)"><i class="far fa-eye"></i></button>
    </div>
  </div>
  <hr>
</div>

<ngx-smart-modal [closable]="false" #putModal identifier="putModal">
  <h4>Modifiez le thème</h4>
    <select *ngIf="putModal.hasData()" #selectTheme [value]='putModal.getData().theme_id' (click)="putModal.getData().theme_id=selectTheme.value">
        <option *ngFor="let theme of themes" value="{{theme.id}}">{{theme.theme_name}}</option>
    </select>
  <h4>Modifier le titre du sujet</h4>
  <input #input *ngIf="putModal.hasData()" (keyup)="putModal.getData().sujet_name=input.value" type="text" class="form-control" value="{{putModal.getData().sujet_name}}">
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="putModal.close();putModal.getData().sujet_name=''"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button class="btn btn-primary" (click)="putSujet(putModal.getData().id,putModal.getData().theme_id,putModal.getData().sujet_name);putModal.getData().sujet_name='';"><i class="fas fa-check"></i> Modifier</button>
</ngx-smart-modal>

<ngx-smart-modal [closable]="false" #showModal identifier="showModal" >
  <h4>Autoriser les utilisateurs à voir ce thème ?</h4>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="showModal.close()"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button class="btn btn-success" (click)="showSujet(showModal.getData().id)"><i class="fas fa-check"></i> Valider</button>
</ngx-smart-modal>

<ngx-smart-modal [closable]="false" #hideModal identifier="hideModal" >
  <h4>Cacher ce thème aux utilisateurs ?</h4>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="hideModal.close()"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button class="btn btn-warning" (click)="hideSujet(hideModal.getData().id)"><i class="fas fa-check"></i> Valider</button>
</ngx-smart-modal>

<ngx-smart-modal [closable]="false" #addModal identifier="addModal">
    <h4>Choisissez le thème</h4>
    <select #selectTheme2>
        <option *ngFor="let theme of themes" value="{{theme.id}}">{{theme.theme_name}}</option>
    </select>
  <h4>Nom du sujet</h4>
  <input #inputQ type="text" class="form-control"  placeholder="Nom du thème souhaité">
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="addModal.close()"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button class="btn btn-success" (click)="addSujet(selectTheme2.value,inputQ.value);"><i class="fas fa-check"></i> Ajouter</button>
</ngx-smart-modal>