<div class="container" style="padding-top:10vh">
	<div class="row pt-1">
		<div class="col-md-4 col-xs-12 profil-header" style="text-align:center">
			<img src="http://localhost:8000/public/uploads/{{auth.getUserImage}}" alt="Photo de profil" title="Photo de profil"
			class="rounded-circle width-300 height-300">
		</div>
		<div class="col-md-8 col-xs-12 profil-header ">
			<h1>
				{{auth.getUser}}
			</h1>
			<h3>
				{{auth.getUserEmail}}
			</h3>
			<ul class="list-group mt-3" style="cursor:pointer">
				<li class="list-group-item" (click)="openUsernameModal(auth.getUser)">Modifier le nom d'utilisateur</li>
				<li class="list-group-item" (click)="openEmailModal(auth.getUserEmail)">Modifier l'adresse email</li>
				<li class="list-group-item" (click)="openPasswordModal(auth.getUserPassword)">Modifier le mot de passe</li>
				<li class="list-group-item" (click)="openImgModal()">Modifier la photo de profil</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="card">
				<div class="card-header">
					<h2>Sujets créés</h2>
				</div>
				<div class="card-body collapse in" >
					<div *ngFor="let sujet of sujetsCreated" (click)="gotoInputs(sujet.id)" id="created{{sujet.id}}" class="card-block p-1">
						<div class="inline-block">
							<h6><a>{{sujet.sujet_name}}</a></h6>
							<span *ngIf="sujet.resolu == 0" style="float: right;color: tomato">Ouvert</span>
							<span *ngIf="sujet.resolu == 1" style="float: right;color: teal">Fermé</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #usernameModal identifier="usernameModal">
	<h4 *ngIf="usernameModal.hasData()">Modifier le nom d'utilisateur</h4>
	<input #input1 *ngIf="usernameModal.hasData()" (keyup)="usernameModal.getData().username=input1.value" type="text"
	 class="form-control" value="{{usernameModal.getData().username}}">
	<button style="margin:10px 10px;" class="btn btn-secondary" (click)="usernameModal.close();usernameModal.getData().username=''"><i
		 class="fas fa-long-arrow-alt-left"></i> Annuler</button>
	<button class="btn btn-primary" (click)="putUsername(usernameModal.getData().username);usernameModal.getData().username=''"><i
		 class="fas fa-check"></i> Modifier</button>
</ngx-smart-modal>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #emailModal identifier="emailModal">
	<h4 *ngIf="emailModal.hasData()">Modifier votre adresse email</h4>
	<input #input1 *ngIf="emailModal.hasData()" (keyup)="emailModal.getData().email=input1.value" type="text" class="form-control"
	 value="{{emailModal.getData().email}}">
	<button style="margin:10px 10px;" class="btn btn-secondary" (click)="emailModal.close();emailModal.getData().email=''"><i
		 class="fas fa-long-arrow-alt-left"></i> Annuler</button>
	<button class="btn btn-primary" (click)="putEmail(emailModal.getData().email);emailModal.getData().email=''"><i class="fas fa-check"></i>
		Modifier</button>
</ngx-smart-modal>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #passwordModal identifier="passwordModal">
	<h4 *ngIf="passwordModal.hasData()">Modifier votre mot de passe</h4>
	<h6 style="color: red">{{error2}}</h6>
	<label for="password">Votre mot de passe actuel</label>
	<input #password *ngIf="passwordModal.hasData()" (keyup)="passwordModal.getData().password=password.value" type="password"
	 class="form-control" value="{{passwordModal.getData().password}}">
	<h6 style="color: red">{{error1}}</h6>
	<label for="newPassword">Votre nouveau mot de passe</label>
	<input #newPassword *ngIf="passwordModal.hasData()" (keyup)="passwordModal.getData().newPassword=newPassword.value"
	 type="password" class="form-control" value="{{passwordModal.getData().newPassword}}">
	<label for="checkPassword">Confirmez ce mot de passe</label>
	<input #checkPassword *ngIf="passwordModal.hasData()" (keyup)="passwordModal.getData().checkPassword=checkPassword.value"
	 type="password" class="form-control" value="{{passwordModal.getData().checkPassword}}">
	<button style="margin:10px 10px;" class="btn btn-secondary" (click)="passwordModal.close();passwordModal.getData().password='';passwordModal.getData().newPassword='';passwordModal.getData().checkPassword=''"><i
		 class="fas fa-long-arrow-alt-left"></i> Annuler</button>
	<button *ngIf="passwordModal.hasData()" class="btn btn-primary" (click)="putPassword(passwordModal.getData().password,passwordModal.getData().newPassword,passwordModal.getData().checkPassword);passwordModal.getData().password='';passwordModal.getData().newPassword='';passwordModal.getData().checkPassword=''"><i
		 class="fas fa-check"></i> Modifier</button>
</ngx-smart-modal>


<ngx-smart-modal customClass="nsm-centered" [closable]="false" #imgModal style="text-align:center" identifier="imgModal">
	<h4>Modifier la photo de profil ?</h4>
	<img [ngStyle]="{'display': getImage()}" class="rounded-circle width-300 height-300" style="margin:0 auto;" [src]="url">
	<br />
	<input type="file" (change)="onFileSelected($event)">
	<br>
	<button style="margin:10px 10px;" class="btn btn-secondary" (click)="imgModal.close();url = ''"><i class="fas fa-long-arrow-alt-left"></i>
		Annuler</button>
	<button class="btn btn-default" (click)="onUpload()"><i class="fas fa-check"></i>
		Modifier</button>
</ngx-smart-modal>