<div *ngFor="let qr of qrs">
    <div class="row">
        <div class="col-6">
            <button type="button" class="btn btn-outline-primary" ([click])="'isCollapsed'+qr.qrs_id = !'isCollapsed'+qr.qrs_id" [attr.aria-expanded]="'!isCollapsed'+qr.qrs_id" aria-controls="collapseExample">
                Toggle
            </button>
    
            <div id="collapseExample" [ngbCollapse]="'isCollapsed'+qr.qrs_id">
                <div class="card">
                    <div class="card-body">
                        You can collapse this card by clicking Toggle
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="col-6">
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsedtwo = !isCollapsedtwo" [attr.aria-expanded]="!isCollapsedtwo" aria-controls="collapseExample">
            Toggle
        </button>

        <div id="collapseExample" [ngbCollapse]="isCollapsedtwo">
            <div class="card">
                <div class="card-body">
                    You can collapse this card by clicking Toggle
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <button type="button" class="btn btn-outline-primary" (click)="isne1 = !isne1" [attr.aria-expanded]="!isne1" aria-controls="collapseExample">
        Toggle
        </button>

        <div id="collapseExample" [ngbCollapse]="isne1">
            <div class="card">
                <div class="card-body">
                    You can collapse this card by clicking Toggle
                </div>
            </div>
        </div>
    </div>
</div> -->