<div class="container" style="padding-top:10vh">
  <div class="content-header row">
    <div class="breadcrumb-wrapper col-xs-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a style="color:rgb(49, 51, 158)" (click)="gotoHome()">Acceuil</a>
        </li>
        <li class="breadcrumb-item"><a style="color:rgb(49, 51, 158)" (click)="gotoAdmin()">Admin</a>
        </li>
        <li class="breadcrumb-item active">Utilisateurs
        </li>
      </ol>
    </div>
    <div class="content-header-left col-xs-12">
      <h3 class="content-header-title mb-0">Utilisateurs</h3>
    </div>
    <div class="content-header-lead col-xs-12 mt-1">
      <p class="lead">Supprimez les utilisateurs ou modifiez leurs statut.</p>
    </div>
    <div class="col-md-4 offset-md-8 col-xs-12">
      <fieldset class="form-group position-relative has-icon-left">
          <input type="text" class="form-control round" id="myInput" placeholder="Rechercher">
          <div class="form-control-position">
              <i class="fas fa-search"></i>
          </div>
      </fieldset>
    </div>
  </div>
  <div class="row">
      <div *ngFor="let user of users"  class="col-xl-3 col-md-6 col-xs-12 elSujet">
          <div class="card box-shadow-2" style="box-shadow:0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
              <div class="text-xs-center">
                  <div class="card-block">
                      <img src="http://localhost:8000/public/uploads/{{user.image}}" class="rounded-circle width-150 height-150" alt="Card image">
                  </div>
                  <div class="card-block">
                      <h4 class="card-title">{{user.username}}</h4>
                      <h6 class="card-subtitle text-muted">{{user.email}}</h6>
                  </div>
                  <h5 *ngIf="user.isAdmin == 1" class="card-title"><b>Administrateur</b></h5>
                  <h6 *ngIf="user.isAdmin == 0" class="card-title">Utilisateur standard</h6>
                  <div class="card-block">
                      <button [ngClass]="{'disabled':user.user_id == loggedUser}" class="btn btn-danger btn-sm"  (click)="openDelModal(user.user_id,user.username)"><i class="fas fa-times"></i></button>
                      <button [ngClass]="{'disabled':user.user_id == loggedUser}" class="btn btn-primary btn-sm" (click)="openPutModal(user.user_id,user.username,user.isAdmin)"><i class="fas fa-edit"></i></button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #delModal identifier="delModal">
  <h4 *ngIf="delModal.hasData()">Voulez-vous vraiment supprimer {{delModal.getData().username}} ?</h4>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="delModal.close()"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button class="btn btn-danger" (click)="delUser(delModal.getData().user_id)"><i class="fas fa-check"></i> Supprimer</button>
</ngx-smart-modal>

<ngx-smart-modal customClass="nsm-centered" [closable]="false" #putModal identifier="putModal" >
  <h4 *ngIf="putModal.hasData()">Modifier le statut de l'utilisateur {{putModal.getData().username}}</h4>
  <input id="myCheck" *ngIf="putModal.hasData()" [ngModel]="putModal.getData().myCheck" (change)="putModal.getData().myCheck=!putModal.getData().myCheck"  type="checkbox">
  <label for="myCheck">Administrateur</label>
  <br>
  <button style="margin:10px 10px;" class="btn btn-secondary" (click)="putModal.close()"><i class="fas fa-long-arrow-alt-left"></i> Annuler</button>
  <button *ngIf="putModal.hasData()" class="btn btn-primary" (click)="putUser(putModal.getData().user_id,putModal.getData().myCheck)"><i class="fas fa-check"></i> Valider</button>
</ngx-smart-modal>

<button style="display:none;" class="btn btn-lg btn-block font-medium-1 btn-outline-teal mb-1 growl-notification">Growl Notification</button>
<div class="growl-notification-example" style="display:none;">
    <i class="icon-checkmark22"></i> Utilisateur modifié avec succès
</div>
<button style="display:none;" class="btn btn-lg btn-block font-medium-1 btn-outline-teal mb-1 growl-add">Growl Notification</button>
<div class="growl-notification-add" style="display:none;">
    <i class="icon-checkmark22"></i> Utilisateur supprimé avec succès
</div>
