a:hover{
    cursor: pointer;
    
}
.com:hover{
    color: rgb(88, 88, 226);
}

::ng-deep body  {
    background-color: #F3F3F3;
}

.card{
    box-shadow: 0px 0px 20px 2px #009688;
}

figure.effect-layla:hover img {
    opacity: 0.5;
}

figure{
    transition: 0.35s;
    height: 310px;
    background-size: cover;
    margin: 18px auto;
    width: 90%;
}

figure:hover{
    box-shadow: 0px 0px 20px 2px #009688;
    transition: 0.45s;
}